{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="">
  <div class="container mt-4 mb-4">
    <div class="col-4 offset-4">
      <div class="card" style="padding: 10px;">
        
        <h2> {{ object.title }} </h2>
        <img src="{{ object.tumbnail.url }}" class="card-img-top" alt="{{ object.title }}">
        <hr>

        <div>
          <span><i class="fas fa-thumbs-up"></i> {{ object.get_like_count }}</span>
          <span><i class="fas fa-eye"></i> {{ object.get_view_count }}</span>
          <span><i class="fas fa-comments"></i> {{ object.get_comment_count }}</span>
          <span style="float: right;"> Posted {{ object.publish_date|timesince}} ago </span>
        </div>

        <hr>

        <div>
          <p> {{ object.content }} </p>
        </div>
        <hr>
        <div>
          <h4> Enjoy this post? Give it a like </h4>
          <a class="text-muted" style="text-decoration: none;" href="{{ object.get_like_url }}">
              .<i class="fas fa-thumbs-up fa-lg">
              </i>
              {{ object.get_like_count }}
          </a>
          <hr>
          {% if request.user.is_authenticated %}
            <h4>Leave a comment below</h4>
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}

              <button class="btn btn-primary mt-2" type="submit">Comment</button>
            </form>
            <hr>
            <h5>Comments </h5>
            {% for comment in object.comments  %}
              <div>
                <p>
                  {{ comment.content }}
                  <br>
                  <small>{{ comment.timestamp|timesince }} ago</small>
                </p>
              </div>
              <hr>
            {% endfor %}
          {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-sm btn-block">Login to comment</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
  