{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
  <div class="">
    <div class="row container mt-4 mb-4">
      <div class="col-6">
        <h1>Esta es la vista de {{ view_type }}</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary" type="submit">{{ view_type|title }}</button>
        </form>
      </div>
    
    </div>

  </div>
  
{% endblock content %}
   